@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:wght@400;600&family=Roboto&family=Syncopate:wght@700&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'font1';
    src: url('Glitch inside.otf') format('opentype')
        /* Add additional formats if needed */
}

body {
    /* background: url(https://images.unsplash.com/photo-1695982207128-c291197f5eda?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTk0OTkyMTF8&ixlib=rb-4.0.3&q=85);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    font-family: 'font1';
}

header {
    position: relative;
    background: hsla(0, 54%, 8%, 0.3);
    padding: 1rem 0;
    z-index: 999;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: min(90%, 800px); */
    margin-inline: auto;
    color: #fff;
}

.header-container .top-span {
    font-family: 'font1';
    color: #000000;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: 'font1';
    transition: color 0.5s;
}

nav a:hover {
    color: rgb(230, 231, 237);

}

.hamburger {
    display: none;
    cursor: pointer;
}

@media (max-width: 600px) {

    .toggle {
        transition: ease-in-out 550ms;
        transform: translate(0px);
        opacity: 1;
        display: block;
    }

    .header-container {
        width: 100%;
        padding: 0 1rem;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: hsla(0, 0%, 0%, .5);
        backdrop-filter: blur(10px);
        transform: translateX(-500px);
        opacity: 0;
    }

    nav li {
        padding: 1rem;
        cursor: pointer;
    }

    nav li:hover {
        background: hsla(0, 0%, 0%, .7);
    }

    .hamburger {
        display: block;
    }
}







/* About Me Section */












.container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
    height: 65vh;
    font-family: 'font1';
    font-size: 20px;


}

/* Cursor */
.txt-type>.txt {
    border-right: 0.2rem solid #777;
}

/* @media(min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}

@media(max-width: 800px) {
    .container {
        padding: 0 1rem;
    }

    h1 {
        font-size: 4rem;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
} */

@media screen and (max-width: 822px) and (min-width: 617px) {
    .container {
        margin-top: 150px;
        font-size: 15px;
        height: 40vh;
    }

    .container-photo img {
        height: 60vh;
    }
}

@media screen and (max-width: 617px) and (min-width: 450px) {
    .container {
        margin-top: 0px;
        font-size: 15px;
        height: 40vh;

    }

    .container-hero {
        flex-direction: column-reverse;
        align-items: center;
    }

    .container-photo img {
        height: 45vh;
    }
}

@media screen and (max-width: 450px) and (min-width: 200px) {
    .container {
        margin-top: 0px;
        font-size: 10px;
        height: 26vh;

    }

    .container-hero {
        flex-direction: column-reverse;
        align-items: center;
    }

    .container-photo img {
        height: 30vh;
    }
}







.container-hero {
    display: flex;
    justify-content: space-between;
}














.about-me {
    /* align-items: center; */
    text-align: center;
    font-size: 40px;
}


.container-hero-About-section {
    display: flex;
    /* flex-direction: column; */
    /* height: 10vh; */


}



.container-photo-About {
    /* padding-top: 2000px; */
    position: relative;
    scale: 0.8;
    top: 20px;
    left: 60%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 30px;
    height: 50px;
}

.container-About {
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 100px;
    width: 55%;

}

@media screen and (max-width: 1064px) and (min-width: 842px) {
    .container-photo-About {
        scale: 0.6;
        /* padding-top: 8px; */
        top: -20px;

    }

    .container-About {
        line-height: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        padding-top: 60px;
        width: 55%;

    }


}

@media screen and (max-width: 842px) and (min-width: 580px) {

    .container-hero-About-section {
        display: flex;
        /* flex-direction: column; */
        /* height: 10vh; */


    }




    .container-photo-About {
        scale: 0.4;
        /* padding-top: 1px; */
        top: -5px;
        left: 60%;


    }

    .container-About {
        line-height: 18px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        padding-top: 30px;
        width: 55%;

    }
}

@media screen and (max-width: 580px) and (min-width: 200px) {

    .container-hero-About-section {
        display: flex;
        /* flex-direction: column; */
        /* height: 10vh; */


    }






    .container-photo-About {
        scale: 0.4;
        /* padding-top: 1px; */
        top: -20px;
        left: 60%;
        display: none;

    }

    .container-About {
        line-height: 18px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        padding-top: 30px;
        padding-left: 30px;
        width: 90%;

    }
}

.laptop {
    position: relative;
    top: 137px;
    left: 119px;
    width: 340px;
    height: 190px;
}

.laptop-bottom path {
    fill: #959C9E;
}

.laptop-bottom rect {
    fill: #EBEFF0;
}

.laptop-lid {
    fill: #F5F7F8;
}

.screen-bg {
    fill: #fff;
    opacity: 0;
}

.grid {
    opacity: 0;
    stroke: #EBEFF0;
    stroke-width: 2;
}

.chart {
    fill: none;
    stroke: #95C11F;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.chart:nth-child(1) {
    stroke-dasharray: 403;
    stroke-dashoffset: 403;
}

.chart:nth-child(2) {
    stroke-dasharray: 395;
    stroke-dashoffset: 395;
}

.chart:nth-child(3) {
    stroke-dasharray: 332;
    stroke-dashoffset: 332;
}

.chart:nth-child(4) {
    stroke-dasharray: 425;
    stroke-dashoffset: 425;
}

.logo {
    opacity: 0;
}

.logo path:nth-child(1) {
    fill: #95C11F;
}

.logo path:nth-child(2) {
    fill: #fff;
}

.logo text {
    fill: #fff;
    font-size: 7px;
}

.text-block {
    opacity: 0;
    position: absolute;
    font-weight: 600;
}

.text-block.big {
    font-size: 16px;
    padding: 6px 16px;
}

.text-block svg {
    width: 32px;
    float: left;
}

.text-block div {
    float: left;
    line-height: 16px;
    padding-left: 5px;
}

.ai {
    fill: #C64C4C;
    color: #953939;
    top: 49px;
    left: 74px;
    border-radius: 4px;
    background-color: #FCBFBF;
    box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
}

.cryptocurrency {
    fill: #CC7825;
    color: #995A1C;
    top: 100px;
    left: 342px;
    border-radius: 4px;
    background-color: #FFD5AB;
    box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
}

.autonomous-driving {
    fill: #69B397;
    color: #4F8671;
    top: 360px;
    left: 316px;
    border-radius: 4px;
    background-color: #CDF3E5;
    box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
}

.commodities {
    fill: #6D9EBC;
    color: #52778D;
    top: 222px;
    left: 10px;
    border-radius: 4px;
    background-color: #CFE8F7;
    box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
}

.white-block {
    color: #636D70;
    border: 1px solid #F5F7F8;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 9px 37px -12px rgba(0, 0, 0, 0.3);
}

.white-block.medium {
    font-size: 14px;
    line-height: 19px;
    padding: 10px 19px;
}

.white-block.small {
    font-size: 12px;
    line-height: 17px;
    padding: 8px 16px;
}

.day-trading {
    top: 0;
    left: 273px;
}

.robotics {
    top: 38px;
    left: 456px;
}

.emerging-markets {
    top: 199px;
    left: 415px;
}

.e-mobility {
    top: 262px;
    left: 441px;
}

.small-caps {
    top: 360px;
    left: 127px;
}

.solar {
    top: 310px;
    left: 27px;
}

.german-stocks {
    top: 131px;
    left: 30px;
}














































h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}


h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    /* float: left; */
}

h5 {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}



p.label {
    width: 100%;
    text-align: center;
    color: #80919b;
    font-size: 12px;
    line-height: 20px;
}

.container-project {
    width: 100%;
    /* max-width: 1200px; */
    float: left;
    /* display: flex;
    justify-content: center; */
}

.projectList {
    width: 100%;
    float: left;
    list-style: none;
    margin: 0;
    padding-top: 100px;
    /* padding: 10px; */
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Two columns with equal width */
    /* grid-template-rows: repeat(2, 1fr); */
    /* Two rows with equal height */
}

.projectList li {
    /* width: 25%; */
    float: left;
}

@media only screen and (max-width:1023px) {
    .projectList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width:779px) {
    .projectList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:539px) {
    .projectList {
        grid-template-columns: repeat(1, 1fr);
    }
}

.projectList li .projectWrap {
    width: 100%;
    float: left;
    padding: 100% 0 0 0;
    position: relative;
}

.projectList li .projectWrap .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    overflow: hidden;
}

.projectList li .projectWrap .inner .project {
    width: 100%;
    height: 100%;
    float: left;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 1px rgba(56, 72, 84, 0.1);
    padding: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectList li .projectWrap .inner .project .innerWrap {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 1px;
    /* -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); */
}

.projectList li .projectWrap .inner .project .innerWrap .image {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    border-radius: 1px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


    transition: transform 0.3s ease;
}

.projectList li .projectWrap .inner .project .innerWrap .image:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1px;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(56, 72, 84, 0.5);
    opacity: 0;

    transition: opacity 0.3s ease;
}

.projectList li .projectWrap .inner .project .innerWrap .metaWrap {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0 10px 10px;
    transform: translate3d(0px, 20px, 0px);
    opacity: 0;

    transition: transform 0.3s ease, opacity 0.3s ease;
}

.projectList li .projectWrap .inner .project .innerWrap .meta {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1.0);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectList li .projectWrap .inner .project:hover {
    transform: translate3d(0px, -5px, 0px);
    box-shadow: 0px 5px 8px 3px rgba(56, 72, 84, 0.2);
}

.projectList li .projectWrap .inner .project:hover .image {
    transform: scale(1);
}

.projectList li .projectWrap .inner .project:hover .image:before {
    opacity: 1;
}

.projectList li .projectWrap .inner .project:hover .metaWrap {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
}

.projectList li .projectWrap .inner .project:hover .meta h5 {
    transform: scale(1);
}


.project {
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
}


















:root {
    --lightblk: #252930;
    --blk: #111417;
}

.header1 {
    font-size: 57px;
    color: white;
    font-family: Rubik Mono One;
    flex-basis: 100%;
}



.footer {
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2em;
    gap: 10px;
    display: flex;
    bottom: 0;
    position: relative;
    width: 100%;
    background-color: var(--blk);
}

div.right {
    margin: 0;
    display: flex;
    width: 50%;
    flex-direction: row;
    gap: 10px;
    flex: 1;
}

div.left {
    flex-basis: 100%;
    margin: 0;
    display: flex;
    gap: 10px;
    width: 50%;
    flex-direction: column;
    flex: 1;
}

textarea {
    font-family: Azeret Mono;
    box-sizing: border-box;
    color: whitesmoke;
    outline: none;
    resize: none;
    border: none;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--lightblk);
}

.msg {
    flex-basis: 100%;
}

div.bottom {
    min-width: 0;
    overflow-x: scroll;
    padding-top: 1em;
    gap: 2em;
    color: grey;
    width: 100%;
    flex-basis: 100%;
    display: flex;
}

.ftrtxt {
    flex-basis: 100%;
    font-size: 15px;
    text-align: center;
    font-family: Rubik Mono One;
    color: grey;
}

.ftrhead {
    font-size: 35px;
}

.ftrhead::after,
.ftrtxt::after {
    content: "\a";
    white-space: pre;
}



hr {
    margin-top: 1em;
    margin-bottom: 1em;
    flex-basis: 100%;
    color: white;
}

.SVG {
    fill: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.ftrlinks {
    fill: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    flex-basis: 1;
}

/* .ftrlinks {} */

svg:hover {
    transform: scale(1.1);
    fill: grey;
}

::placeholder {
    font-family: Azeret Mono;
}

#start {
    margin-left: auto;
}

#end {
    margin-right: auto;
}

::-webkit-scrollbar {
    height: 5px;
    width: 2px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    height: 5px;
    width: 2px;
}

#submitbtn {
    display: none;
    border-radius: 10px;
    border: none;
    font-family: Rubik Mono One;
    font-size: 15px;
    transition: 0.5s;
}

#submitbtn:hover {
    background-color: var(--lightblk);
    color: white;
}

@keyframes slide {
    0% {
        opacity: 0;
        height: 0%;
        border-radius: 10px;
    }

    100% {
        opacity: 1;
        height: 100%;
        border-radius: 10px;
    }
}